<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FDO Demo Front Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="center-container text-center">
      <h1 class="my-4">FDO DEMO FRONT PAGE</h1>
      <div>
        <a href="/login" class="btn btn-primary btn-lg mr-2">Login</a>
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
      </div>
    </div>
  </body>
</html>
