<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ... -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body class="body-style">
    <div class="center-container">
      <h3 class="text-center">Login</h3>
      <form method="post" class="mt-4">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="row">
          <label for="username" class="col-4 col-form-label">name:</label>
          <div class="col-8">{{ form.name }}</div>
        </div>

        <div class="row">
          <label for="password" class="col-4 col-form-label">password:</label>
          <div class="col-8">{{ form.password }}</div>
        </div>

        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-primary full-width-button">
              Submit
            </button>
          </div>
          <div class="col-6">
            <a href="/front" class="btn btn-primary full-width-button">back</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
