<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Welcome to the manufacturer Page</h1>
          {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}!</p>
          <!-- 輸入RV Server info -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <!-- 显示 Django 消息框架中的消息 -->
              {% if messages %}
              <div
                class="alert-messages"
                style="
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  z-index: 1000;
                "
              >
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-0">
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
              <h5 class="card-title">RP Server Details pull</h5>
              <form action="{% url 'rv_info' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      {{ form.url.label_tag }}
                      <input
                        type="text"
                        name="{{ form.url.name }}"
                        id="{{ form.url.id_for_label }}"
                        class="form-control"
                        placeholder="ENTER RV Server URL"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      {{ form.ip.label_tag }}
                      <input
                        type="text"
                        name="{{ form.ip.name }}"
                        id="{{ form.ip.id_for_label }}"
                        class="form-control"
                        placeholder="ENTER RV Server IP"
                      />
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      {{ form.port.label_tag }}
                      <input
                        type="text"
                        name="{{ form.port.name }}"
                        id="{{ form.port.id_for_label }}"
                        class="form-control"
                        placeholder="Enter RV Server Port Number"
                      />
                    </div>
                  </div>
                </div>

                <div>
                  <button
                    type="submit"
                    name="RV_info"
                    class="btn btn-secondary"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- get owner credential -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <h5 class="card-title">get owner credential</h5>
              <form action="{% url 'getownercredential' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      {{ owner_form.url.label_tag }}
                      <input
                        type="text"
                        name="{{ owner_form.url.name }}"
                        id="{{ owner_form.url.id_for_label }}"
                        class="form-control"
                        placeholder="ENTER Owner Server URL"
                      />
                    </div>
                  </div>
                </div>
                <div>
                  <button
                    type="submit"
                    name="owner_info"
                    class="btn btn-secondary"
                  >
                    Submit
                  </button>
                </div>
              </form>
              <div
                id="response-area"
                style="
                  display: block;
                  border: 1px solid #ccc;
                  min-height: 100px;
                  background-color: #fff;
                  margin-top: 10px;
                  color: #000;
                "
              >
                <!-- 这里将显示owner credential -->
                {% if owner_credential %} {{ owner_credential }}{% else %}
                <!-- 这里可以放置默认文本或留空 -->
                {% endif %}
              </div>
              <!-- save owner credential space -->
              <div style="margin-top: 10px">
                <form action="{% url 'ownercredentialsave' %}" method="post">
                  {% csrf_token %}
                  <!-- 隐藏字段用于存储 api_response -->
                  <input
                    type="hidden"
                    name="owner_credential"
                    id="api-response-field"
                    value="{% if owner_credential %}{{ owner_credential }}{% endif %}"
                  />
                  <input
                    type="hidden"
                    name="rpusername"
                    id="rp_username"
                    value="{{ user.username }}"
                  />
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <h5>Save The Owner Credential</h5>
                        {{ owner_form.ownername.label_tag }}
                        <input
                          type="text"
                          name="{{ owner_form.ownername.name }}"
                          id="{{ owner_form.ownername.id_for_label }}"
                          class="form-control"
                          placeholder="ENTER Owner Server name"
                        />
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-secondary btn-lg">
                    save
                  </button>
                  {% if owner_credential_save_status %}
                  <span style="margin-left: 20px"
                    >{{ owner_credential_save_status }}</span
                  >{% endif %}
                </form>
              </div>
            </div>
          </div>
          <!-- list all owner server  -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <h5 class="card-title">owner credential list</h5>
              <form action="{% url 'ownercredentiallist' %}" method="post">
                <input
                  type="hidden"
                  name="rpusername"
                  id="rp_username"
                  value="{{ user.username }}"
                />
                {% csrf_token %}
                <div class="bg-white">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Server Name</th>
                        <th scope="col">Credential</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for owner_server in owner_servers %}
                      <tr>
                        <td>{{ owner_server.serverName }}</td>
                        <td>{{ owner_server.credential }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-danger">
                  show all credentials
                </button>
              </form>
              <form></form>
            </div>
          </div>
          <!-- list the DI register machine with sc-->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <h5 class="card-title">Device initial machine list in some ms</h5>
              <form action="{% url 'clientMsList' %}" method="post">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="clientusername"
                  id="clientusername"
                  value="{{ user.username }}"
                />
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Seconds you want check</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="seconds"
                    name="seconds"
                    placeholder="How many seconds to trace"
                    style="margin-top: 10px"
                  />
                  <div style="margin-top: 10px">
                    <button
                      type="submit margin-top: 10px; "
                      class="btn btn-danger"
                    >
                      trace back
                    </button>
                    {% if owner_status %}
                    <div class="owner-status-messages">
                      {% for status in owner_status %}
                      <p>{{ status }}</p>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- list all di machine -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <h5 class="card-title">DI machine list</h5>
              <form action="{% url 'dimachinelist' %}" method="post">
                <input
                  type="hidden"
                  name="clientusername"
                  id="clientusername"
                  value="{{ user.username }}"
                />
                {% csrf_token %}
                <!-- 表格开始 -->
                <div class="bg-white">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Serial No</th>
                        <th scope="col">GUID</th>
                        <th scope="col">DI Timestamp</th>
                        <th scope="col">Attestation Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for client_machine in client_machine %}
                      <tr>
                        <td>{{ client_machine.serial_no }}</td>
                        <td>{{ client_machine.guid }}</td>
                        <td>{{ client_machine.di_timestamp }}</td>
                        <td>{{ client_machine.attestation_type }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-danger">
                  show all client machine
                </button>
              </form>
            </div>
          </div>
          <!-- create ownership voucher -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <div class="row align-items-center">
                <div>
                  <h5 class="card-title">
                    Make Ownership Voucher 請選擇需要使用的owner
                    credential以及Serial No
                  </h5>
                </div>
                <!-- 顯示所有資訊的表格給使用者選擇 -->
                <form action="{% url 'showOwnerAndSerialNo' %}" method="post">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="clientusername"
                    id="clientusername"
                    value="{{ user.username }}"
                  />
                  <div class="col-auto">
                    <button type="submit" class="btn btn-danger">
                      show all Owner credential and serial No
                    </button>
                  </div>
                </form>
              </div>
              <!-- 產生ownership voucher主要的地方 -->
              <form action="{% url 'makeOwnershipVoucher' %}" method="post">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="clientusername"
                  id="clientusername"
                  value="{{ user.username }}"
                />
                <h4>DI machine Information</h4>
                <div class="bg-white">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Serial No</th>
                        <th scope="col">GUID</th>
                        <th scope="col">DI Timestamp</th>
                        <th scope="col">Attestation Type</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for client_machine in client_machine %}
                      <tr>
                        <td>{{ client_machine.serial_no }}</td>
                        <td>{{ client_machine.guid }}</td>
                        <td>{{ client_machine.di_timestamp }}</td>
                        <td>{{ client_machine.attestation_type }}</td>
                        <td>
                          <input
                            type="radio"
                            name="selected_client_machine"
                            value="{{ client_machine.guid }}"
                          />
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <h4>Owner Server Information</h4>
                <div class="bg-white">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Server Name</th>
                        <th scope="col">Credential</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for owner_server in owner_servers %}
                      <tr>
                        <td>{{ owner_server.serverName }}</td>
                        <td>{{ owner_server.credential }}</td>
                        <td>
                          <input
                            type="radio"
                            name="selected_owner_server"
                            value="{{ owner_server.serverName }}"
                          />
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div>
                  <button type="submit" class="btn btn-danger">
                    make Ownership Voucher
                  </button>
                </div>
                <div
                  id="response-area"
                  style="
                    display: block;
                    border: 1px solid #ccc;
                    min-height: 100px;
                    background-color: #fff;
                    margin-top: 10px;
                    color: #000;
                  "
                >
                  <!-- 这里将显示ownership voucher -->
                  {% if ownership_voucher %} {{ ownership_voucher }}
                  <!-- 这里可以放置默认文本或留空 -->
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
          <!-- list all ownership voucher -->
          <div class="card custom-card">
            <div
              class="card-body bg-primary text-white border-black"
              style="border: 1px solid #000"
            >
              <div class="row align-items-center">
                <div>
                  <h5 class="card-title">list all ownership voucher</h5>
                </div>
                <!-- 顯示所有資訊的表格給使用者選擇 -->
                <form action="{% url 'ownership_voucher_list' %}" method="post">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="clientusername"
                    id="clientusername"
                    value="{{ user.username }}"
                  />
                  <div class="col-auto">
                    <button type="submit" class="btn btn-danger">
                      show all Ownership Voucher
                    </button>
                  </div>
                </form>
              </div>
              <h4>Ownership_voucher Information</h4>
              <form action="{% url 'sendownership' %}" method="post">
                {% csrf_token %}
                <div class="bg-white">
                  <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">serverName</th>
                        <th scope="col">serial_no</th>
                        <th scope="col">create_time</th>
                        <th scope="col">ownership_voucher</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ownership_voucher in ownership_voucher_list %}
                      <tr>
                        <td>{{ ownership_voucher.id }}</td>
                        <td>{{ ownership_voucher.serverName.serverName }}</td>
                        <td>{{ ownership_voucher.serial_no.serial_no }}</td>
                        <td>{{ ownership_voucher.create_time }}</td>
                        <td>{{ ownership_voucher.ownership_voucher }}</td>
                        <td>
                          <input
                            type="radio"
                            name="selected_voucher"
                            value="{{ ownership_voucher.id }}"
                          />
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input
                      type="text"
                      class="form-control"
                      id="ownerurl"
                      name="ownerurl"
                      placeholder="where owner destination"
                      style="margin-top: 10px"
                    />
                  </div>
                  <button type="submit" class="btn btn-danger col-4">
                    Send to owner server
                  </button>
                </div>
                {% if response_id %} {{ response_id }}{% else %} {% endif %}
              </form>
            </div>
          </div>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
            <a href="/front/aio" class="btn btn-primary">back</a>
          </form>
          {% else %}
          <p>You are not logged in.</p>
          <!-- 显示登录链接或其他信息 -->
          <a href="/login" class="btn btn-primary">Login</a>
          {% endif %}
        </div>
      </div>
      <!-- 其他页面内容 -->
    </div>
  </body>
</html>
